body { 
    font-family: 'Mark Pro';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}  
h4 {
    font-size: 20px;
} 
h6 {
    font-size: 16px;
    margin: 6px;
} 
p { 
    word-wrap: break-word; 
    text-align: center; 
    color: #484540;
    font-size: 17px;
    font-weight:400;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 26px;
    line-height: 27px;

}  
a {
    color: #000;
    text-decoration: none;
    font-family: 'Mark Pro';
}
.footer-column a > i {
    color: #fff;
}
.footer-column ul > li > a {
    color: #999999;
}
div[class*="box"]  {
    display: flex;
    align-items: center; 
    cursor: pointer;
    position: relative;
    gap: 30px;
    margin-bottom: 10px;
}
div[class*="infor"]  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -11px 0;
} 
div[class*="description-"]  {
    position: absolute;
    top: 10%;
    left: 6%;
}
#total-product-buy {
    margin: 0px 10px 0 0;
    padding: 5px 10px;
    background: #c7ab62;
    border-radius: 50%;
    color: #fff;
    font-weight: 900;
}
.banner-section , .topTrending-section , .posterMain-section, .bestSelling-section,.clienrSay-section{
    margin:  10px auto 80px;
    position: relative;
}
/*------------------header-------------*/
header {
    background-color: #fff;
}

header i:not(:last-child) {
    font-size: 18px !important;
    color: #000000b3;
}
header i:not(:last-child) {
    margin: 0 22px 0 4px;
}
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.938rem 3.75rem;
    background: #f5f5f5;
    font-size: 14px;
    gap: 10px;
}
.top-header img:nth-child(n), .main-header img:nth-child(n) {
    width:18px;
    margin: 0 10px; 
    vertical-align: middle;
    margin-bottom: 1px;
}
.top-header img:nth-child(n) {
    margin: 0 5px
}
.top-header span:nth-child(n) {
    font-size: 14px;
    margin-right: 17px;
}
.main-header {
    display: flex;  
    align-items: center; 
    width: 100%; 
    position: relative; 
    justify-content: space-between;
} 
.main-header h3 {
    margin:0
}
.content-left, .content-right, .content-center{
    display: flex;
    align-items: center; 
    width: auto;
}
.content-right  {
    justify-content: flex-end;
}
.content-right a {
    margin: 0px 48px 0 -16px;
}
.content-center { 
    justify-content: center;
    position: absolute;
    left: 50%; 
    transform: translate(-50%);
}
.icon-menu {
    display: none;
}
.fa-bars {
    float: right;
}
.content-center ul {
    list-style-type: none;
    margin: 0;
}
.content-center ul > li {
    float: left;
    color: #000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
}
.content-center ul > li > a.active {
    color:#c7ab62
}
/*-------------BANNER----------------*/
.banner {
    height:100vh;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-banner {
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
}
.text-banner h2 {
    font-size:375%;
    margin: 27px 0;
    line-height:1;
    text-align: left; 
    text-indent: 1px;
}
.text-banner p {
    font-size: 18px;
    line-height: 35px;
    width: 100%;
    text-align: left;
    font-weight: 500;
}
.background-description {
    background-color: #c7ab62;
    padding: 7px 10px;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    font-weight: 100;
}
.explore {
    padding: 10px 28px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    background: none;
    border: 2px solid #000;
}
/*-----------------------PRODUCT---------------*/
img.poster {
    position: relative;
    width: 100%;
} 
.box-selling {
    flex-flow: wrap;
}
.box-selling .box-product {
    display: block !important; 
    max-width: 25%;
    flex:  calc(25% - 30px);
}
.product {
    width: 100%; 
}
.name-product { 
    margin: 0;
    font-size: 16px;
}
.description-product {
    font-weight: 300;
    font-size: 16px;
    margin: 10px 0;
}
.price {
    font-weight: 900;
}
img .poster {
    width: 100%;
    height: 100%;
}  
/*-------------EFFECT PRODUCT ADD TO CART----------------*/
 div.box-product button {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
div.box-product button { 
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    width: calc(100% - 40px);
    padding:14px 25px;
    border-radius: 5px;
    border: none;
    background: #fff;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -60px;
    font-weight: 600;
    cursor: pointer;
} 
 div.box-product:hover button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*-------------EFFECT PRODUCT ICON-------------*/
.list-icon-product {
    position: absolute;
    top: 0%;
    right: 8%;
    margin-top: 20px;
}
div.box-product .list-icon-product img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
div.box-product .list-icon-product img { 
    opacity: 0;
    -webkit-transform: translate3d(20px,0,0 );
    transform: translate3d(20px, 0, 0);
    width:15px;
    border-radius: 5px;
    border: none;
    background: #fff;
    margin: 0 auto;
    display: block;
    position: relative; 
    padding: 15px;
    margin: 5px 0; 
    cursor: pointer;
} 
 div.box-product:hover .list-icon-product img {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*--------------POSTER----------------*/
.box-poster {
    flex-wrap: nowrap;
    gap: 30px;
}
.desciption-poster {
    position: absolute;
    top: 18%;
    left: 9%;
}
.desciption-poster h2 {
    font-size: 40px;
    margin: 16px 0;
}
.desciption-poster span:nth-of-type(1) {
    font-weight:500;
    color: #c7ab62;
    font-size: 14px;
}
.desciption-poster span:nth-of-type(2), .description-grid span:nth-of-type(2) {
    font-size: 16px;
    font-weight: 700; 
    color: #000; 
    padding: 5px 0;
    border-bottom: 2px solid #000;
}
.description-grid span:nth-of-type(2) { 
    border-bottom:none;
    font-size: 13px;
}
/*--------------CLIENT SAY---------------------*/
.box-client-say { 
    padding: 41px 0;
    flex-direction: column; 
}
.box-client-say img {
    border-radius: 50%;
    max-width: 90px;
    margin: 3px 0 12px; 
} 
.box-client-say p {
    width: 46%;
    font-size: 1.25rem;
    line-height: 32px;
}

.box-client-say p, .box-client-say span {
    color: #575757;
}
/*---------------GRID POSTER----------------*/
.img-grid {
    width: 100%;
    height: 100%; 
} 
.list-poster-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px; 
}
.list-poster-grid img:nth-of-type(2n), .grid-poster img {
    margin: 0 auto;
    display: block; 
    max-width: 100%;
}  
.description-grid {
    background-color: none;
}
.description-grid img  {
    width: 21px;
    margin: -6px 5px;
    display: inline-block;
} 
.list-poster-grid h3 {
    font-size: 1.3rem;
} 
div[class*='grid-post'] {
    background-color: #f5f5f5;
}
.grid-post-01 { grid-area: 1 / 1 / 5 / 4;position: relative;overflow: hidden; }
.grid-post-02 { grid-area: 1 / 4 / 3 / 7; position: relative;overflow: hidden;}
.grid-post-03 { grid-area: 1 / 7 / 3 / 9;position: relative;overflow: hidden;}
.grid-post-04 { grid-area: 3 / 4 / 5 / 6; position: relative;overflow: hidden;}
.grid-post-05 { grid-area: 3 / 6 / 5 / 9; position: relative;overflow: hidden;}
.description-grid h4{
    font-size: 28px;
    margin: 20px 0;
    font-weight: 500;
}
.description-grid span {
    font-size: 18px;
}
/*-------------FEATURE-------------*/
.box-feature { 
    padding:65px 0;
    justify-content: space-evenly !important;
}
.infor-feature {
    margin-top: 25px;
}
.feature-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc(33.3333333% - 23px);
}
.feature-element img{
    width: 40px;
    margin-bottom: 25px
}
.infor-feature span:nth-child(2n) { 
    line-height: 25px;
    margin-top: 13px;
    font-size: 16px; 
    text-align: center;
}
.infor-feature span:nth-child(2n+1) {
    font-size: 18px; 
    font-weight: 700;
}
.feature-element a {
    color: #000;
    margin-top: 20px;
    text-decoration-line: none;
    font-weight: 600;
    font-size: 13px;
}
/*------------------PARTNER-----------------*/
.list-logo-partner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #c9c9c9; 
    border-bottom: 1px solid #c9c9c9;
    flex-flow: row wrap;
}
.logo-partner {
    max-width: 50%;
    display: flex;
    justify-content: center;
}
.logo-partner img:nth-of-type(n) {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
/*------------------FOLLOW US---------------*/
.followUs-section {
    margin: 80px auto 45px;
} 
.box-followus {
    justify-content: center !important;
    padding: 25px 0;
    column-gap: 30px;
    flex-flow: row wrap;
} 
.box-followus div {
    max-width: 50%;
} 
/*---------------------CLIENT SAY-----------------*/
.box-client-say p {
    margin-bottom: 10px;
}
/*----------------CONTACT--------------*/
form {
    display: flex;
    justify-content: space-between;
    width: 46%;
}
form input {  
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    font-size: 19px;
    color: #a0a0a0;
}
form button {
    padding: 5px 30px;
    font-size: 20px;
    color: #fff;
    background-color: #222222;
    border-radius: 5px;
    margin: 0 15px;
}
.contact-form span {
    font-weight: 600;
    font-size: 17px;
    margin: 25px auto 45px;
}
/*---------------------FOOTER----------------*/
footer {
    background-color: #222222;
    color: #fff;
} 
.footer-column i {
    font-size: 30px;
    margin-right: 20px;
}
.footer-list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    padding: 90px 9vw;
    flex-flow: row wrap;
}
.footer-column {
    max-width: 25%;
} 
.footer-column h5 {
    margin: 10px 0 2px;
}
.footer-column p,.footer-column h1 {
    text-align: left;  
    font-weight: 100;
}
.footer-column p,.footer-column span,.footer-column li {
    color: #999999;
    line-height: 26px;
}
.end {
    padding: 5px 10% ;
}
.end img{
   width: 60px;
    margin: 0 10px; 
}
.end p {
    text-align: left;
    font-weight: 100;
    color: #999999;
}
.end, .end-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.end-right {  
    justify-content: center;
}
.logo-payment {
    display: flex;
}

